<p class="content">Look towards the top of your screen, right above where it shows the different commands. Click on the word “Costumes”. It will bring you to a screen, that shows all the different looks or costumes your character has. Find all the different looks you would like to use and add them to your list of costumes. </p>
<div class="img">##Step1a.png##</div>
<div class="img">##Step1b.png##</div>
<p class="content">You can also use the flip tools to make it look like your characters are going in the opposite directions!</p>
<div class="img">##Step2a.png##</div>
<p class="content">Congrats! Now your sprite has different costumes. WHEW! The hard part is over! Now it is just up to some simple commands! Click on scripts again to get back to your code. Now, go to “Looks”. You can either use the “Next Costume” button if your looks are already in order. If they are not, use the “Switch to Costume_________” button, and choose which costume you want it to change to. Put a “Switch to Costume_ (Your first costume)_” right beneath the Green Flag command, so that your sprite will always start at the first costume.Go ahead and try the “Repeat”  tools you just learned about. </p>
<div class="img">##Step3a.png##</div>
<div class="img">##Gif1.gif##</div>
<p class="content">Great! You’ve successfully made your sprite look like it’s moving naturally. You’re one step closer to being able to make a game.</p>