<p class="content">First, you must need to know how to start a project. Trick question: How does one start without a starting point? Can’t think of the answer, that’s because you can’t. You must have a starting point to begin your journey. So, just click “Create” on the upper left-hand corner.</p>
<div class="img">##1.png##</div>
<p class="content">Okay, in order to save, you must first go to “File”.</p>
<div class="img">##2.png##</div>
<p class="content">You will see a list of words, you just need to find and select “Save”.</p>
<div class="img">##3.png##</div>
<p class="content">There! Then re-opening projects, the hardest thing you’ll have done so far! Now, from the home screen, press the folder with a “S” in it. It’s located at the upper right-hand corner.</p>
<div class="img">##4.png##</div>
<p class="content">Click “See inside”to re-open your animation!</p>
<div class="img">##5.png##</div>