<p class="content">To start a project, just click “Create” on the upper left-hand corner.</p>
<div class="img">##1.png##</div>
<p class="content">Okay, in order to save, you must first go to “File”.</p>
<div class="img">##2.png##</div>
<p class="content">You will see a list of words, you just need to find and select “Save”.</p>
<div class="img">##3.png##</div>
<p class="content">There! Then re-opening projects, the hardest thing you’ll have done so far! Now, from the home screen, press the folder with a “S” in it. It’s located at the upper right-hand corner.</p>
<div class="img">##4.png##</div>
<p class="content">Click “See inside” to re-open your animation!</p>
<div class="img">##5.png##</div>
<p class="content">You may have seen in our pictures, on the right, the blocks that were all linked together. Those are parts of what are called “scripts”. Scripts are the instructions that tell each character, or sprite, what to do. They are formed by linking individual blocks together, and each sprite has its own scripts. On the left of the page, there is a preview of your project and edit sprites and backdrops (we’ll get to that later). It’s pretty boring right now (just a cat), but we’ll get to filling it up soon!</p>
<div class="img">##6.png##</div>
<p class="content">In the middle, there are all the blocks available to you. Again, these are the building blocks of scripts; each one of them is basically a single instruction to a sprite. There are ten different kind of blocks, and each has their own color. As you will see later, only certain blocks go together. The various costumes and sound effects available are also in the middle (we’ll get to those later).</p>
<div class="img">##7.png##</div>
<p class="content">To put these scripts together, you need to drag and drop these blocks to the right side of the page, where you can view and edit all of your scripts.</p>
<div class="img">##8.png##</div>