<ul class="footer-menu">
    <li><a href="https://github.com/cakesofwrath/CyberKids" class="darken"><img class="github" src="/img/GitHub-Mark/PNG/GitHub-Mark-64px.png" alt="github"></a></li>
    <li><a href="mailto:dai.alan.dai@gmail.com"><i class="fa fa-envelope fa-4x mail darkenI"></i></a></li>
    <li><a href="#openModal"><i class="fa fa-question-circle fa-4x qu darkenI"></i></a></li>
    <div id="openModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Created by:</h2>
            <ul class="created">
                <li><a href="https://github.com/cakesofwrath">Alan Dai</a></li>
                <li><a href="#">Jaisy Lau</a></li>
                <li><a href="#">Wenny Miao</a></li>
            </ul>

        </div>
    </div>
</ul>
