
<div class="row">
    <h1>Welcome to Cyber Kids!</h1>
    <h5>Have you ever wanted to make animations? to make your own game? Well now you can, with Scratch!</h5>
    <h5>Scratch is a programming language that you can use to build games, stories, slideshows - almost anything!</h5>
    <h5>This site will teach you the basics of using Scratch, so you can go out and create!</h5>
    <h5><a href="/learn">Get started here</a></h5>

    <div class="carousel" data-carousel>
        <div><img class="homeImg" src="/img/welcome_to_scratch.jpg"></div>
        <div><img class="homeImg" src="/img/welcome_to_scratch.jpg"></div>
        <div><img class="homeImg" src="/img/welcome_to_scratch.jpg"></div>
    </div>
</div>
