<div class="row lesson" ng-repeat="lesson in lessons">
    <div class="six columns">
    	<h4>Lesson {{ lesson.number }}: <a ng-href="/learn/{{ lesson.number }}">{{ lesson.title }}</a></h4>
    </div>
    <div class="six columns">
        <!-- should be error checking if empty, but it won't be. -->
    	<img class="learnImg" ng-src="{{ lesson.thumb }}">
    </div>
</div>
<div class="moreSoon" ng-if="lessons != null">
    <h3>More lessons coming soon!</h3>
</div>
<div class="moreSoon" ng-if="lessons == null">
    <h3>Loading...</h3>
</div>
