<h2>More stuff to do!</h2>
<div class="row">
	<h5>Okay, so you've finished the course, or want to try something different...</h5>
    <!-- <div class="container"> -->
        <!-- <div class=""> -->
        	<div class="moreList" data-carousel>
                <div><img class="moreImg" src="/img/codeOrg.png"><a href="https://code.org/">Code.org</a> Try an Hour of Code!</div>
                <div><img class="moreImg" src="/img/tynker.png"><a href="https://www.tynker.com/">Tynker.org</a> Tinker around with some cool tutorials!</div>
                <div><img class="moreImg" src="/img/codeacademy.png"><a href="http://www.codecademy.com">Codeacademy</a> Learn to make websites, applications, and more!</div>
                <div><img class="moreImg" src="/img/hsh.png"><a href="http://highschoolhacking.club/">High School Hacking</a> Want a challenge? Try these programming languages.</div>
            </div>
        <!-- </div> -->
    <!-- </div> -->
</div>
