<h2>Parents</h2>
<div class="row">
    <h5>What/who is this site for?</h5>
    <p class="content">
        We aim to provide high-quality lessons that teach children basic computer science and computational thinking by using the popular graphical programming language Scratch.
    </p>
    <p class="content">
        Originally, this site was created for <a href="#">a program at the Stamford Town Library</a>. However, anyone is welcome to utilize these lessons, whether for their own children or for another class/program. If you do plan on using it for another class/program, we'd appreciate it if you could <a href="mailto:dai.alan.dai@gmail.com">let us know.</a>
    </p>
    <h5>What age children should take this course?</h5>
    <p class="content">
        Originally, this course was intended for 3rd to 6th graders. However, the lessons should be suitable for younger ages, with adult help, or even older kids. More resources for older kids can be found <a href="/more">here.</a>
    </p>
    <h5>Can the lessons be done independently by the students?</h5>
    <p class="content">
    The lessons are designed so that all concepts/instructions are clearly explained; however, there are many open-ended questions/projects, so it is advised that an adult be available to help the child, if needed. Parents are encouraged to follow along with their children in the lessons.
    </p>
</div>
