<p class="content">As learned from the previous lesson, you must have the “When (Green Flag) clicked” button to start any program. Go do that first. If you forgot where it is, that’s okay, it’s located in the label “Events”.</p>
<p class="content">Do you have the button? Okay, good! Next, in order to have your sprite talk, go to the label “Looks”.</p>
<div class="img">##1.png##</div>
<p class="content">The first 4 buttons allows for your sprite to talk/think. The buttons that say “say/think (words)  for (number) secs” allows for your sprite to say/think a certain thing for a specific amount of time. The buttons that don’t include “for (number) secs” at the end means that your sprite will say/think something forever unless you have a conditional (something that if it happens would lead to something else, but you’ll learn conditionals later on). Either way, drag one of the 4 buttons over to your commands screen and connect to the Green Flag button.</p>
<div class="img">##2a.png##</div>
<div class="img">##2b.png##</div>
<p class="content">If you want to change what your sprite is going to say or think, double-click on “Hello!”/”Hmm…” and enter in what you want it to say. If you are using a limited-time button, if you would also like to change the amount of time your sprite says/thinks about something, just double-click “2” and enter in the amount of time you would like.</p>
<div class="img">##3a.png##</div>
<div class="img">##3b.png##</div>
<div class="img">##3c.png##</div>
<div class="img">##3d.png##</div>
<p class="content">Now, click the green flag and your sprite should look like this if it’s saying something.</p>
<div class="img">##4a.png##</div>
<p class="content">And it should look like this if it’s thinking about something.</p>
<div class="img">##4b.png##</div>
<p class="content">Obviously, it would be probably saying/thinking what you want it to say.</p>