<p class="content">As you learned last lesson, you must have the “When (Green Flag) clicked” button to start any program. So let’s do that first. If you forgot where it is, that’s okay, it’s located in the label “Events”.</p>
<p class="content">Next, in order to have your sprite talk, go to the label “Looks”.</p>
<div class="img">##1.png##</div>
<p class="content">The first 4 buttons allows for your sprite to talk/think whatever text you type into the block. There are two types of these blocks: the blocks with times on them will only appear as long as the time entered, and the blocks without times will last forever. Go on ahead and choose any type of this block to put in your script.</p>
<div class="img">##2a.png##</div>
<div class="img">##2b.png##</div>
<p class="content">To change what your sprite says/thinks, double click on the text in the block. To change how long the block lasts (if the block you choose has a limited time), double click the number of seconds.</p>
<div class="img">##3a.png##</div>
<div class="img">##3b.png##</div>
<div class="img">##3c.png##</div>
<div class="img">##3d.png##</div>
<p class="content">Now, click the green flag and your sprite should look like this if it’s saying something.</p>
<div class="img">##4a.png##</div>
<p class="content">And it should look like this if it’s thinking about something.</p>
<div class="img">##4b.png##</div>