<p class="content">To start any program, click “Events” and drag “When (Green Flag) clicked” to the blank screen to the right. Click on “Motion” for all the commands to move your sprite. </p>
<div class="img">##Step1a.png## </div>
<div class="img">##Step1b.png##</div>
<div class="img">##Step1c.png##</div>
<p class="content">Find  “Go to x: 0 y:0” . This will make it so that your sprite will always start in the same location.  Drag this over to your commands screen, and make sure to connect it to the Green Flag command, like a puzzle piece!</p>
<div class="img">##Step2a.png##</div>
<p class="content">Time to make the sprite move! The first block in the column is to “Move 10 Steps”. This will show the sprite in one location, then show it again 10 steps away. </p>
<div class="img">##Step4a.png## </div>
<p class="content">Press the Green  Flag on the video, and see what happens!</p>
<div class="img">##Step5a.png##</div>
<p class="content">You should have seen your sprite move. Now double click on the “Move 10 spaces” piece and you are able to change the amount of spaces you want it to move! </p>
<div class="img">##Step6a.png##</div>
<p class="content">Congrats! You now know how to move your sprite. </p>
<p class="content">Now, we’re going to learn to make the sprite glide. Drag the “Glide 1 sec to x: 0 y: 0” to your command screen. Now change the number after the x (the x value) to make the sprite glide up and down, and change the y value to make the sprite glide left and right. </p>
<div class="img">##Step8a.png##</div>
<p class="content">Click the Green Flag! Congratulations! You now know how to make your sprite move and glide! </p>