<p class="content">To start any program, click “Events” and drag “When (Green Flag) clicked” to the blank screen to the right. That way, any other blocks that you attach to it will be done once you click the green flag on the left side to start the scripts. </p>
<div class="img">##Step1a.png## </div>
<div class="img">##Step1b.png##</div>
<p class="content">Then, click on “Motion”, which has all the blocks to move your sprite. </p>
<div class="img">##Step1c.png##</div>
<p class="content">Find  “Go to x: 0 y:0” . This will make it so that your sprite will always start in the same location. Otherwise, each time you start the script, it will keep going forward. Drag this block over to your script on the right, and make sure to connect it to the Green Flag command.</p>
<div class="img">##Step2a.png##</div>
<p class="content">Alright, time to make the sprite move! The first block in the column is to “Move 10 Steps”. This will show the sprite in one location, then show it again 10 steps away. </p>
<div class="img">##Step4a.png## </div>
<p class="content">Press the Green  Flag on the video, and see what happens!</p>
<div class="img">##Step5a.png##</div>
<p class="content">You should have seen your sprite move. Now double click on the “Move 10 spaces” piece and you are able to change the amount of spaces you want it to move - go ahead and try it!</p>
<div class="img">##Step6a.png##</div>
<p class="content">Congrats! You now know how to move your sprite. </p>
<p class="content">Now, you’re going to learn to make the sprite glide. Drag the “Glide 1 sec to x: 0 y: 0” to your command screen. Now change the number after the x (the x value) to make the sprite glide up and down, and change the y value to make the sprite glide left and right. </p>
<div class="img">##Step8a.png##</div>
<p class="content">Now click the Green Flag to start your script and watch your sprite glide around.</p>