<p class="content">Alright, for this lesson, we will be mainly focusing on the box under your video window. </p>
<div class="img">##Step1a.png##</div>
<p class="content">First, we’ll try changing the sprite. There are four ways to do this: you can choose one from the selection in Scratch, download another image from the internet, draw one in the Scratch editor, or take a picture on your webcam (if you have one). For now, let’s just choose a sprite from Scratch’s own collection. Simply click on the little face next to where it says “New Sprite:” and the Sprite Library will pop up, and you can choose which ever sprite you want! Personally, I don’t like cats much (I prefer pets that can fly and don’t eat all my canned tuna), so I’ll choose a bat.</p>
<div class="img">##Step3a.png##</div>
<div class="img">##Step3b.png##</div>
<p class="content"><b>Careful, your commands only apply to one sprite, so when you delete your original sprite, you will delete all your code! To transfer your commands to another sprite, click on your first sprite, go to your commands, right click, and click on “duplicate”. Then click on your second sprite, and your commands will be transferred! Now you can delete your first sprite.</b></p>
<div class="img">##Step4a.png##</div>
<div class="img">##Step4b.png##</div>
<p class="content">Right click on the old sprite, and click “delete”. </p>
<div class="img">##Step5a.png##</div>
<p class="content">To create a new background, you will do pretty much the same thing. The options for the background (Scratch calls them a backdrops) are the same as for sprites. Again, let’s first just use a backdrop Scratch has already made for us. Click on the first picture of the mountains and the sun under the words “New backdrop”. A window will pop up, with the Backdrop Library. Choose whichever one you like! </p>
<div class="img">##Step7a.png##</div>
<div class="img">##Step7b.png##</div>
<p class="content">Click the Green Flag and see what happens! </p>
<div class="img">##Step8a.png##</div>