<p class="content">To get started, visit <a href=”http://scratch.mit.edu/”>this site</a> and click on the “sign up” button. It’s at the upper right-hand corner. You should probably bookmark this page, since you’re gonna be using it a lot from now on.</p>
<div class="img">##join1.png##</div>
<p class="content">Now, this is your first moment of creativity in Scratch - it’s time to create your username and password. Create a cool username and mysterious password and make sure not to tell anyone your password, your creativity might get stolen!</p>
<div class="img">##join2.png##</div>
<p class="content">After creating your username and password, click next. There, you’ll need to enter in your birthday, gender, and choose “United States” as your country.</p>
<div class="img">##join3.png##</div>
<p class="content">You’re almost done! Finally, all you do is enter in your email. If you don’t have an email, then ask a parent or an adult for help.</p>
<div class="img">##join4.png##</div>
<p class="content">You’re done! Well, almost: just don’t forget to verify your email, okay? But after you do that, you can enter Scratch and explore! Here’s a really cool example of what someone has made using Scratch:</p>
<p class="content"><iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/59094252/?autostart=false" frameborder="0" allowfullscreen></iframe></p>