<p class="content">In order to get started, first click on the “sign up” button. It’s at the upper right-hand corner.</p>
<div class="img">##join1.png##</div>
<p class="content">Now, this is your first moment of creativity in Scratch! It’s the making of your username and password! Create a cool username and mysterious password. Make sure not to tell anyone your password, your creativity might get stolen!</p>
<div class="img">##join2.png##</div>
<p class="content">After creating your username and password, click next! There, you’ll need to enter in your birthday, gender, and choose “United States” as your country.</p>
<div class="img">##join3.png##</div>
<p class="content">You’re almost done! Finally, all you do is enter in your email. If you don’t have an email, then ask a parent or an adult to help you.</p>
<div class="img">##join4.png##</div>
<p class="content">You’re done! Well, almost: just don’t forget to verify your email, okay? But after you do that, you can enter Scratch and explore! There are cool games that you can play and who knows? Maybe you can be a creator of a cool game one day!</p>